# core
Django>=1.11,<1.12
wagtail>=1.13,<1.14

# Heroku
dj-database-url>=0.4.1
gunicorn>=19.6.0
psycopg2>=2.6.2

# zappa
zappa>=0.41.2

# aws s3
django-storages>=1.5.2
boto>=2.46.1

# aws ses for email
django-ses>=0.8.2

# for staging password protection
django-lockdown>=1.4.2,<1.5

# docs
Sphinx>=1.6.3
sphinx_rtd_theme>=0.2.5b1